1. Experiment with multiplying strings or lists with integers and see what happens. 
Having seen that ;create a variable which holds value ‘xyzxyzxyzxyzxyzxyzxyzxyzxyzxyz’

In [2]:
var= 'xyzxyzxyzxyzxyzxyzxyzxyzxyzxyz'  #variable that holds value

#multiplying string

var= var*3  
print(var)

xyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyz

In [8]:
var=var+ 'abc'
print(var)

xyzxyzxyzxyzxyzxyzxyzxyzxyzxyzabc

In [14]:
#multiplying list

lst= ['apple', 'banana', 'cherry']

lst= lst*3  #multiplying list 3 time
print(lst)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

2. Using list comprehension, list related functions or otherwise, create following list:
[[1, 2, 3, 4, 5, 6, 7], [1, 4, 9, 16, 25, 36, 49], [1, 8, 27, 64, 125, 216,343]]

In [ ]:
lst= [1, 2, 3, 4, 5, 6, 7]
lst2= [1, 4, 9, 16, 25, 36, 49]
lst3= [1, 8, 27, 64, 125, 216,343]

In [17]:
result = [[x**i for i in range(1, 8)] for x in range(1, 4)]
result

[[1, 1, 1, 1, 1, 1, 1],
 [2, 4, 8, 16, 32, 64, 128],
 [3, 9, 27, 81, 243, 729, 2187]]

3. Write a function which takes input as list and returns a list which contains a sequence of 10 equally spaced numbers between min and max of the string if minimum and maximum value of lists is same then it returns a list with 10 zeroes.
Example:
Input list: [20, 2, 6, 7, 10]
output list : [2,4,6,8,10,12,14,16,18,20]